.timeline_user {
  width: 350px;
  display: flex;
  margin: 20px 0;

  .profile_img {
    object-fit: cover;
    border-radius: 10px;
  }

  .card_info {
    margin-left: 10px;

    .publish_time {
      margin-left: 5px;
    }

  }
}

@media screen and (max-width: 900px) {
  .timeline_user {
    width: 100%;

    .profile_img {
      object-fit: cover;
      border-radius: 10px;
    }

    .card_info {
      margin-left: 10px;

      .publish_time {
        margin-left: 5px;
      }
    }
  }
}
