.content {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.moreover_area {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: #fafbfb;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  padding: 0px 5px;
}

.article {
  position: absolute;
  right: 0;
  top: 40px;
}

.board {
  position: absolute;
  left: 200px;
  top: 0px;
}

.more_icon {
  margin-left: 10px;
  cursor: pointer;
}

.inversion {
  .content {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: black;
  }
  .moreover_area {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-color: #fafbfb;
    border: 1px solid #242424;
    border-radius: 10px;
    padding: 0px 5px;
  }

  .article {
    position: absolute;
    right: 0;
    top: 40px;
  }

  .board {
    position: absolute;
    left: 200px;
    top: 0px;
  }

  .more_icon {
    margin-left: 10px;
    cursor: pointer;
  }

  .icon_inversion{
    color: white;
  }
}
