.main_img{
  object-fit: cover;
}
.card_header{
  position: relative;
}
.moreover_area{
  width: 100px;
  height: 60px;
  background-color: #f0f0f0;
  position: absolute;
  left: 500px;
  // top: 10px;
}
