.header{
  .css-frs8jf-MuiBadge-root .MuiBadge-badge{
    background-color: red;
    color: red;
  }
}
.sidebar{
  .MuiPaper-root{
    margin: 20px 0;
  }
  .MuiTabs-scroller{
    width: 250px;
  }
  .MuiButtonBase-root{
    display: block;
    width: 250px;
  }
  .MuiButtonBase-root{
    color:black ;
  }
  .MuiTabs-indicator{
    background-color: rgb(80, 80, 80);
  }
  .rank_accordion{
    .MuiPaper-root{
      margin: 0;
    }
    .MuiButtonBase-root{
      display: flex;
      width: 400px;
    }
    .MuiTypography-root{
      width: 100%;
    }
  }
}

.handle_btn{
  .MuiButtonBase-root{
    display: block;
    background-color: rgb(80, 80, 80);
  }
  .MuiButtonBase-root:hover{
    background-color: rgb(42, 42, 42);
  }
}
