.header {
  .css-frs8jf-MuiBadge-root .MuiBadge-badge {
    background-color: red;
    color: red;
  }
}
.sidebar {
  .MuiPaper-root {
    margin: 20px 0;
  }
  .MuiTabs-scroller {
    width: 250px;
  }
  .MuiButtonBase-root {
    display: block;
    width: 250px;
  }
  .MuiButtonBase-root {
    color: black;
  }
  .MuiTabs-indicator {
    background-color: rgb(80, 80, 80);
  }
  .rank_accordion {
    .MuiPaper-root {
      margin: 0;
    }
    .MuiButtonBase-root {
      display: flex;
      width: 400px;
    }
    .MuiTypography-root {
      width: 100%;
    }
  }
}
.handle_btn {
  .MuiButtonBase-root {
    display: block;
    background-color: rgb(80, 80, 80);
  }
  .MuiButtonBase-root:hover {
    background-color: rgb(42, 42, 42);
  }
}

// プロフィールrightの大枠
.timeline_tab {
  width: 900px;
  margin: 0 auto;
  .MuiBox-root{
    margin-bottom: 20px;
  }
  .MuiPaper-root{
    margin: 0 auto;
    width: 100%;
    // border: 1px red solid;
  }
  .MuiTabs-scroller {
    border-bottom: 1px solid rgb(80, 80, 80);
    // position: fixed;
  }
  .MuiButtonBase-root {
    color: black;
  }
  .MuiTabs-indicator {
    background-color: rgb(80, 80, 80);
  }
  .MuiPaper-root{
    margin:0 auto
  }
  .add_btn{
    .MuiSvgIcon-root {
      color: white;
      // font-size: 30px;
    }
    .MuiButtonBase-root {
      // display: block;
      background-color: black;
    }
  }
}

.timeline {
  .timeline_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .MuiPaper-root {
    margin: 40px;
    // width: 90%;
  }
}

// プロフィールの編集画面
.input_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  .MuiInputBase-root {
    margin: 5px 0;
    color: black;
  }
  .MuiInputBase-input {
    display: block;
    width: 500px;
    font-size: 20px;
    border: 1px red 
  }
}


// アルバムのheaderのデザイン
.switch_btn{
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: black;
  }

  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: black;
  }
}

.css-j204z7-MuiFormControlLabel-root{
  width: 140px;
  margin: 0 auto;
  span{
    margin: 0 auto;
  }
}

.stepper{
  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: black;
  }

  .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: black;
  }
}

// サムネイル
.thumbnail{
  .MuiPaper-root {
    width: 600px;
    box-shadow: none;
    border-radius: 0;
    // border-bottom: 1px solid rgb(103, 103, 103);
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}
.labels{
  .MuiFormControl-root{
    margin-bottom: 40px;
  }
}

// チャットの新しいトークの作成
.chat_new_btn{
  .element {
  border: 1px solid transparent;

}
  .MuiFormControl-root{
    display: flex;
    justify-content: center;
  }
}

.MuiButtonBase-root:active {
  span{
    background-color: transparent;
  }
  // background-color: red;
  // border: 1px red solid;
}


// ページネーション
.MuiPagination-ul{
  width: 400px;
  margin: 0 auto;
}

.articleCard{
  margin: 0 auto;
  .MuiPaper-root{
    width: 100%;
  }
}