// main
.handle_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  .input {
    width: 60%;
  }

  .pagenation {
    width: 40%;
  }
}

@media screen and (max-width: 1400px) {
  .handle_area {
    flex-direction: column;
    align-items: center;
    height: 160px;

    .input {
      width: 100%;
    }

    .pagenation {
      margin-top: 40px;
      width: 100%;
    }
  }
}

// side
.side {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;

  .bottom_border {
    display: flex;
    align-items: center;
    opacity: 0.8;
  }

  .bottom_border:before,
  .bottom_border:after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-color: #666;
  }

  .bottom_border:before {
    margin-right: 1rem;
  }

  .bottom_border:after {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .side {
    margin: 20px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    border-top: #7b7b7b 1px solid;
  }

  .side_header {
    width: 100%;
  }

  .side_main {
    width: 100%;
  }
}
