.close_btn {
  display: block;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.abjust_modal{
  height: 700px;
  width: 800px;
}

.abjust_title{
  text-align: center;
  font-size: 40px;
}