.album_header {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .header_right {
    display: flex;
    align-items: center;
    svg {
      cursor: pointer;
    }
  }

  .album_btn {
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

.abjust_area {
  position: relative;
  margin-right: 10px;
  
  .abjust_dropdown {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 150px;
    height: 80px;
    background-color: white;
    .drowdown_list {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      font-size: 25px;
      svg {
        margin-right: 10px;
      }
    }
    .drowdown_list:hover {
      background-color: #f5f5f5;
    }
  }
}

.album_main {
  margin-top: 40px;
}
