.articles_details {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-top: 30px;
  padding-bottom: 20px;
  @media screen and (max-width: 750px) {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .articles_details_header {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 500px) {
      flex-flow: column;
      gap: 20px;
    }

  }

  .team_img {
    margin-right: 30px;
    border-radius: 10px;
  }

  .not_article {
    .not_article_title {
      text-align: center;
      font-size: 50px;
    }
    .not_article_sub_title {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
      color: gray;
    }
    .not_article_img {
      display: block;
      margin: 0 auto;
    }
    
    @media screen and (max-width: 1000px) {
      .not_article_img{
        display: none;
        border: 1px red solid;
      }
    }
  }

  .labels_area_large {
    margin-left: 20px;
    display: block;
  }

  .labels_area_small {
    display: none;
    padding: 0 20px;
  }

  @media screen and (max-width: 750px) {
    .labels_area_large {
      display: none;
    }
    .labels_area_small {
      display: block;
    }
  }
}

.large {
  display: block;
}

.small {
  display: none;
}

@media screen and (max-width: 1430px) {
  .large {
    display: none;
  }
  .small {
    display: block;
  }
}
  