// default
.button {
  display: block;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
}

// size
.button.xs {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.5;
}

.button.sm {
  width: 80px;
  height: 40px;
}

.button.md {
  width: 100px;
  height: 40px;
}
.button.lg {
  width: 120px;
  height: 50px;
}
// weight
.button.weight_400 {
  font-weight: 400;
}

.button.weight_500 {
  font-weight: 500;
}
.button.weight_600 {
  font-weight: 600;
}

.button.blue {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(20, 120, 250);
  background-color: #1876d2;
}

.button.blue:hover {
  background-color: rgb(20, 110, 230);
}

.button.blue:active {
  background-color: #1169c1;
}

.button.blue:disabled {
  border: 1px solid rgb(150, 200, 255);
  background-color: rgb(150, 200, 255);
  cursor: initial;
}

.button.black {
  color: rgb(255, 255, 255);
  background-color: black;
}

.button.black:hover {
  background-color: rgb(18, 18, 18);
}

.button.black:active {
  background-color: rgb(18, 18, 18);
}
