.articles_details {
  display: grid;
  grid-template-columns: 1fr 300px;
  margin-top: 30px;

  .articles_details_header {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team_img {
    margin-right: 30px;
    border-radius: 10px;
  }

  .not_article {
    .not_article_title {
      text-align: center;
      font-size: 50px;
    }
    .not_article_sub_title {
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
      color: gray;
    }
    .not_article_img {
      display: block;
      margin: 0 auto;
    }
  }

  .labels_area {
    width: 300px;
    display: flex;
    justify-content: center;
  }
}

.large {
  display: block;
}

.small {
  display: none;
}

@media screen and (max-width: 1430px) {
  .large {
    display: none;
  }
  .small {
    display: block;
  }
}
  