.articles_details{
  display: grid;
  grid-template-columns: 1fr 300px;
  .articles_details_show{
    border: 1px blue solid;
  }
  .articles_details_header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team_img{
    margin-right: 30px;
    border-radius: 10px;
  }
  .labels_area{
    width: 300px;
  }
  .article_timeline{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}