.handle_close {
  margin-bottom: 10px;

  .close_btn {
    cursor: pointer;
  }
}

.tweet_content {
  display: flex;

  .profile_img {
    object-fit: cover;
    border-radius: 50%;
  }

  .tweet_textarea {
    border: 1px red solid;
    resize: none;
    margin-left: 20px;
    display: block;
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    min-width: 530px;
    max-width: 530px;
    border: none;
    font-size: 20px;
  }

  .tweet_textarea:focus {
    outline: none;
  }
}

.tweet_img_area {
  margin: 15px 0;
  display: flex;
  justify-content: center;

  .tweet_img {
    object-fit: cover;
  }
}

.handle_tweet {
  display: block;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img_icon {
    cursor: pointer;
  }
}

.handle_tweet_sm {
  display: none;
}

@media screen and (max-width: 660px) {

  .tweet_content {
    display: flex;

    .profile_img {
      display: none;
    }

    .tweet_textarea {
      resize: none;
      margin-left: 20px;
      display: block;
      width: 100%;
      min-height: 150px;
      max-height: 150px;
      min-width: 350px;
      max-width: 350px;
      border: none;
      font-size: 20px;
    }

    .tweet_textarea:focus {
      outline: none;
    }
  }

  .tweet_img_area {
    margin: 15px 0;
    display: flex;
    justify-content: center;

    .tweet_img {
      object-fit: cover;
    }
  }

  .handle_tweet {
    display: none;
  }

  .handle_tweet_sm {
    display: block;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .img_icon {
      cursor: pointer;
    }
  }

  .handle_tweet_footer {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .handle_close {
    margin-bottom: 10px;

    .close_btn {
      cursor: pointer;
    }
  }

  .tweet_content {
    display: flex;

    .profile_img {
      display: none;
    }

    .tweet_textarea {
      resize: none;
      margin-left: 20px;
      display: block;
      min-width: 300px;
      max-width: 300px;
      min-height: 150px;
      max-height: 150px;
      width: 100%;
      border: none;
      font-size: 20px;
    }

    .tweet_textarea:focus {
      outline: none;
    }
  }

  .tweet_img_area {
    margin: 15px 0;
    display: flex;
    justify-content: center;

    .tweet_img {
      object-fit: cover;
    }
  }

  .handle_tweet {
    display: none;
  }

  .handle_tweet_sm {
    display: block;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .img_icon {
      cursor: pointer;
    }
  }

  .handle_tweet_footer {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}