.thumbnail{
  display: flex;
  justify-content: center;
  .thumbnail_delail{
    margin-top: 50px;
    .thumbnail_textarea{
      min-width: 600px;
      max-width: 600px;
      min-height: 100px;
      max-height: 100px;
      font-size: 20px;
      border: none;
      resize: none;
    }
    textarea:focus{
      outline: none;
    }
  }
}