.timeline_tab{
  margin: 0 auto;
  width: 100%;
}

.timeline_header{
  position: relative;
  right: 10px;
  left: 500;
  top: 54px;
  width: 900px;
  height: 100px;
  background-color:#F2F3F5;
  z-index: 100;
}

.tab_content{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

// albumのcss
.album{
  display:grid ;
  grid-template-columns:1fr 1fr;
}
