.article_contents {
  min-height: 100vh;
  padding: 50px;
}

.search_area {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  .search_btn_area {
    display: flex;
  }
}
@media screen and (max-width: 660px) {
  .search_area {
    display: block;
  }
  .search_btn_area {
    margin-bottom: 20px;
  }
}
  

.pagenation {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
}
