.article_contents {
  min-height: 100vh;
  padding: 50px;
}

.search_area {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  .search_btn_area {
    display: flex;
  }
}

.pagenation {
  margin: 100px 0px;
}

.main_area {
  display: grid;
  grid-template-columns: 1fr 300px;
}
