.container {
  width: 450px;
  position: fixed;
  top: 100px;
  left: 40px;
  padding-bottom: 100px;

  .image_area {
    position: relative;

    .bg_img {
      width: 450px;
      height: 200px;
      object-fit: cover;
    }

    .profile_img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 70%;
      left: 5%;
      transform: translatY(-50%);
    }
  }
}

// 編集ボタン
.edit_btnArea {
  display: flex;
  justify-content: end;

  .edit_btn {
    margin-right: 20px;
    margin-top: 10px;
    padding: 7px;
  }
}

// プロフィールの詳細
.profile_area {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .profile_img {
    border-radius: 50%;
    object-fit: cover;
  }

  .profile_details {
    width: 750px;
    margin-left: 50px;

    .profile_header {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .profile_header_btn {
        display: block;
        background-color: #1294dd;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        margin-right: 30px;
        cursor: pointer;
      }

      .profile_header_btn:hover {
        background-color: #0987cf;
      }
    }

    .profile_bio {
      margin: 30px 0;
    }

    .profile_info {
      width: 300px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      button {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: normal;
      }
    }

    .other_icon {
      margin-top: 20px;
      width: 300px;
      cursor: pointer;

      .icon_team {
        margin-left: 10px;
      }
    }
  }
}
