.container{
  width: 450px;
  position: fixed;
  top: 100px;
  left: 40px;
  padding-bottom: 100px;
  .image_area{
    position: relative;
    .bg_img{
      width: 450px;
      height: 200px;
      object-fit: cover;
    }

    .profile_img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 70%;
      left: 5%;
      transform: translatY(-50%);
    }
  }
}

// 編集ボタン
.edit_btnArea{
  display: flex;
  justify-content: end;
  .edit_btn{
    margin-right: 20px;
    margin-top: 10px;
    padding: 7px;
  }
}

// プロフィールの詳細
.profile_area{
  padding: 10px;
  .detail_name{
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
  }

  .detail_team{
    padding:5px 0 0 5px;
    font-size: 20px;
    line-height: 20px;
    opacity: 0.8;
  }

  .detail_bio{
    padding-left: 4px;
    font-size: 20px;
    margin-top: 15px;
  }
  
  .detail_number{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    span{
      margin-left: 10px;
    }
  }
}
