.album {
  margin-top: 20px;
}

.wide {
  display: block;

  .contents {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.small {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wide {
    display: block;

    .contents {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .small {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .wide {
    display: none;
  }

  .small {
    display: block;

    .contents {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      gap: 5px;
    }
  }
}
@media screen and (max-width: 1050px) {
  .wide {
    display: none;
  }

  .small {
    display: block;

    .contents {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 740px) {
  .wide {
    display: none;

    .contents {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }
  .small {
    display: block;

    .contents {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 10px;
    }
  }
}
