.thumbnail{
  border: 1px red solid;
  display: flex;
  justify-content: center;
  // align-items: center;
  .thumbnail_delail{
    margin-top: 100px;
    textarea{
      min-width: 600px;
      max-width: 600px;
      min-height: 300px;
      max-height: 300px;
      font-size: 20px;
      border: none;
    }
    textarea:focus{
      outline: none;
    }
  }
}