.album_header{
  margin: 0px 30px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border: 1px red solid;
  .header_right{
    display: flex;
    border: 1px red solid;
    svg{
      cursor: pointer;
    }
  }
}

.keep_btn{
  display: block;
  width: 100px;
  height: 40px;
  margin-left:10px;
  background-color: black;
  color:white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  &:hover{
    background-color: black;
  }
}
.album_main{
  width: 100%;
  // border: 1px red solid;
  input{
    display: block;
    width: 600px;
    height: 50px;
    margin: 0 auto;
    border: none;
    font-size: 30px;
  }
  input:focus{
    outline: none;
  }
  .content{
    // border: 1px red solid;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    // align-items: center;
    textarea{
      padding: 10px;
      display: block;
      min-width: 800px;
      max-width: 800px;
      min-height: 400px;
      max-height: 400px;
      font-size: 30px;
      outline: none;
      border: none;
    }
    .content_btn{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      // border: 1px red solid;
      svg{
        cursor: pointer;
        margin-top: 30px;
        background-color: gray;
        border-radius: 50%;
      }
      svg:hover{
        background-color: black;
      }
    }
  }
}


// Thumbnail
.thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  .thumbnail_delail{
    textarea{
      min-width: 600px;
      max-width: 600px;
      min-height: 300px;
      max-height: 300px;
      font-size: 20px;
      border: none;
    }
    textarea:focus{
      outline: none;
    }
  }
}