.main {
  width: 70%;
  margin: 0 auto;

  .title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }

  section {
    padding: 40px 0;
  }
  
  ul {
    list-style: none;
  }
}
