.large {
  display: block;
  display: grid;
  grid-template-columns: 1fr 300px;
}

.small {
  display: none;
}

@media screen and (max-width: 770px) {
  .large {
    display: none;
  }
  .small {
    display: block;
  }
}
