.save_bar {
  width: 100%;
  height: 68px;
  background-color: #1f2124;
  position: fixed;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  z-index: 100;
  h2 {
    width: 100%;
    width: 100%;
    color: white;
    opacity: 0.9;
    margin: auto 0;
  }
  .btn_area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}

.layout {
  position: relative;
  .loading {
    position: absolute;
    top: 5;
    left: 0;
    right: 0;
  }
}

.drop_menu {
  display: flex;
  gap: 10px;
}

.active {
  background-color: #f1f2f8;
  color: #1876d2;
}

  .breakpoint {
    min-width: 100%;
  }


.side_header{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header_icon{
  display: flex;
  align-items: center;
}
.header_img{
  border-radius: 50%;
}