.not_page {
  h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: center;
    color: gray;
  }
  .not_page_img{
    display: block;
    margin: 0 auto;
  }
}
