.blue {
  background-color: #ecf5ff;
}
.gray {
  background-color: #f1f5f9;
}
.white {
  background-color: #ffffff;
}

.title_area {
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.show_all {
  text-decoration: none;
  color: #408ddb;
}

.show_all:hover {
  text-decoration: dashed;
}

.main {
  width: 70%;
  margin: 20px auto;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.footer_show_all {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-top: 1px gray solid;
  border-bottom: 1px gray solid;
  padding: 20px 0px;
  border-left: none;
  border-right: none;
  background-color: transparent;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
