.chatContent_mychat {
  display: flex;
  justify-content: flex-end;
}

.chatContent_senderchat {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.chat_person {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .chat_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
}

.chatImg {
  border-radius: 10px;
  object-fit: cover;
}

.chatmessage {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(219, 219, 219);
  min-width: 200px;
  word-break: break-all;
}

