// 共通のcss
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
}
.link_style{
  text-decoration: none;
  color: black;
  // border: 1px solid red;
}
.main_area{
  margin-top: 55px;
}

// 各ページのcss

// mypageのレイアウトのcss
.profile{
  display: grid;
  grid-template-columns: 500px 1fr;
}
.chat{
  display: grid;
  grid-template-columns: 400px 1fr;
}

// アルバム
.keepoff{
  opacity: 0.5;
}

.EmojiPickerReact --epr-emoji-size{
    width: 100px;
    height: 100px;
}


.timeline_tab{
  position: relative;
}

.release_card{
  // border: 1px red solid;
  .MuiPaper-root{
    margin: 0;
  }
}