// 共通のcss
*{
  margin: 0;
  padding: 0;
}
body{
  background-color:#F2F3F5;
}
.link_style{
  text-decoration: none;
  color: black;
  // border: 1px solid red;
}
.main_area{
  margin-top: 55px;
}

// 各ページのcss
.profile{
  display: grid;
  grid-template-columns: 500px 1fr;
  .profile_right{
    width: 500px;
  }
}
.chat{
  display: grid;
  grid-template-columns: 400px 1fr;
}


// アルバム
.keepoff{
  opacity: 0.5;
}