// layoutのcss
.main_area {
  margin-top: 50px;
}

// mypageのレイアウトのcss
.profile {
  display: grid;
  grid-template-columns: 500px 1fr;
}
.chat {
  display: grid;
  grid-template-columns: 400px 1fr;
}

// アルバム
.keepoff {
  opacity: 0.5;
}

.timeline_tab {
  position: relative;
}

.release_card {
  .MuiPaper-root {
    margin: 0;
  }
}

// 共通のcss
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg_blue {
  background-color: #ecf5ff;
}

.bg_gray {
  background-color: #f1f5f9;
}

.bg_white {
  background-color: #ffffff;
}

.link_style {
  text-decoration: none;
  color: black;
}
.cursor_pointer {
  cursor: pointer;
}

$values: 0, 1, 2, 4, 6, 8, 9, 10, 12, 14, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 36, 38, 40, 64,
  100;

@each $value in $values {
  .m_#{$value} {
    margin: 1px * $value !important;
  }

  .mt_#{$value} {
    margin-top: 1px * $value !important;
  }

  .mb_#{$value} {
    margin-bottom: 1px * $value !important;
  }

  .mr_#{$value} {
    margin-right: 1px * $value !important;
  }

  .ml_#{$value} {
    margin-left: 1px * $value !important;
  }

  .mh_#{$value} {
    margin-left: 1px * $value !important;
    margin-right: 1px * $value !important;
  }

  .mv_#{$value} {
    margin-top: 1px * $value !important;
    margin-bottom: 1px * $value !important;
  }
}

@each $value in $values {
  .p_#{$value} {
    padding: 1px * $value !important;
  }

  .pt_#{$value} {
    padding-top: 1px * $value !important;
  }

  .pb_#{$value} {
    padding-bottom: 1px * $value !important;
  }

  .pr_#{$value} {
    padding-right: 1px * $value !important;
  }

  .pl_#{$value} {
    padding-left: 1px * $value !important;
  }

  .ph_#{$value} {
    padding-left: 1px * $value !important;
    padding-right: 1px * $value !important;
  }

  .pv_#{$value} {
    padding-top: 1px * $value !important;
    padding-bottom: 1px * $value !important;
  }
}

.fw_300 {
  font-weight: 300;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_700 {
  font-weight: 700;
}

.fs_8 {
  font-size: 8px;
}

.fs_10 {
  font-size: 10px;
}

.fs_12 {
  font-size: 12px;
}

.fs_14 {
  font-size: 14px;
}

.fs_16 {
  font-size: 16px;
}

.fs_18 {
  font-size: 18px;
}

.fs_20 {
  font-size: 20px;
}

.display_none {
  display: none;
}

.display_flex {
  display: flex;
}

.display_inline {
  display: inline;
}

.display_block {
  display: block;
}

.full_width {
  width: 100%;
}

.min_height {
  min-height: 100vh;
}
