.bulletin_board_Card {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  width: 100%;
  position: relative;
  padding: 5px;

  .timeline_user {
    display: flex;
  
    .profile_img {
      object-fit: cover;
      border-radius: 10px;
    }
  
    .card_info {
      margin-left: 10px;
      position: relative;
  
      .user_detail_info {
        display: flex;
        font-weight: bold;
      }
  
      .publish_time {
        margin-left: 5px;
      }
    }

    .card_contents {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 20px;
    }
  }
  
  .option_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
  
    .message_btn {
      cursor: pointer;
    }
  
    .like_btn {
      cursor: pointer;
      margin: 0 15px 0 10px;
    }
  }
}

.click_board {
  background-color: #484848;
  color: white;
}







