.sidebar {
  margin-right: 10px;
  padding-right: 5px;
  min-height: 100vh;
  border-right: 1px solid #ccc;
}
.sidebar_header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 40px;
  position: relative;
  .settingIcon {
    cursor: pointer;
    margin-right: 15px;
  }
  .addIcon {
    margin-left: 15px;
    cursor: pointer;
  }
  .new_chat{
    position:absolute ;
    top: 50px;
    right: 0;
    width: 300px;
    background-color:white;
    z-index: 100;
    border-radius: 10px;
  }
}
.chat_area {
  min-height: 100vh;
}

