.bulletinboard{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.timeline{
  border: 1px red solid;
  min-height: 100vh;
  margin: 10px 0 0 30px;
  width: 100%;
}
.profile_img{
  object-fit: cover;
  border-radius: 10px;
}
.user_info{
margin-left: 10px;
.user_detail_info{
  margin-left: 10px;
  display: flex;
  p{
    margin-left: 5px;
  }
}
.mention_user{
  margin-left: 9px;
  background-color:#dbf1fc;
  color: #2C87C2;
  padding: 4px 15px;
  border-radius: 5px;
}
}

.timeline{
  display: flex;
}