.no_user {
  h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    
    @media  (max-width: 768px) {
      font-size: 60px;
    }
  }

  p {
    font-size: 20px;
    text-align: center;
    color: gray;
  }

  .no_user_img {
    display: block;
    margin: 0 auto;

    @media  (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
      
  }
}
